In [14]:
import os
import pandas as pd
import numpy as np

In [15]:
base_url = 'http://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
df = pd.read_csv(anime_master_csv)
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama': Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109
10,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
12,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376
13,2904,Code Geass: Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888
14,28891,Haikyuu!! Second Season,"Comedy, Drama, School, Shounen, Sports",TV,25,8.93,179342
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
16,23273,Shigatsu wa Kimi no Uso,"Drama, Music, Romance, School, Shounen",TV,22,8.92,416397
17,24701,Mushishi Zoku Shou 2nd Season,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.88,75894
18,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193
19,1575,Code Geass: Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.83,715151
20,263,Hajime no Ippo,"Comedy, Drama, Shounen, Sports",TV,75,8.83,157670
21,44,Rurouni Kenshin: Meiji Kenkaku Romantan - Tsui...,"Action, Drama, Historical, Martial Arts, Roman...",OVA,4,8.83,129307
22,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824
23,30276,One Punch Man,"Action, Comedy, Parody, Sci-Fi, Seinen, Super ...",TV,12,8.82,552458
24,164,Mononoke Hime,"Action, Adventure, Fantasy",Movie,1,8.81,339556
25,7311,Suzumiya Haruhi no Shoushitsu,"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",Movie,1,8.81,240297
26,17074,Monogatari Series: Second Season,"Comedy, Mystery, Romance, Supernatural, Vampire",TV,26,8.80,205959
27,21939,Mushishi Zoku Shou,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10,8.80,101351
28,457,Mushishi,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,26,8.78,300030
29,2001,Tengen Toppa Gurren Lagann,"Action, Adventure, Comedy, Mecha, Sci-Fi",TV,27,8.78,562962
...,...,...,...,...,...,...,...
10045,31838,Ze Tian Ji,"Action, Adventure, Fantasy",ONA,13,6.80,180
10046,33048,Zegapain ADP,"Action, Mecha, Romance, Sci-Fi",Movie,1,6.35,1859
10047,30211,Zenchuu Maite,Dementia,Movie,1,4.27,73
10048,5821,Zenmai Zamurai,"Comedy, Kids",TV,30,6.44,152
10049,4790,Zeno: Kagirinaki Ai ni,"Drama, Historical",Movie,1,6.76,207
10050,33571,Zenryoku Yobikou 5.5 Seminar,"Comedy, Parody, School",ONA,9,5.00,46
10051,33570,Zenryoku Yobikou 5.5 Seminar Prologue,"Comedy, Parody, School",ONA,1,4.73,62
10052,9520,Zero Tester,"Action, Adventure, Mecha, Sci-Fi",TV,38,6.43,181
10053,9522,Zero Tester: Chikyuu wo Mamore!,"Action, Adventure, Mecha, Sci-Fi",TV,28,5.23,137
10054,23313,Zettai Zetsumei Dangerous Jiisan,"Comedy, Kids",TV,33,5.82,76
10055,10987,Zettai Zetsumei Dangerous Jiisan (2004),"Comedy, Kids",TV,51,6.55,135
10056,22709,Zettai Zetsumei Dangerous Jiisan (2005),"Comedy, Kids",TV,19,7.00,66
10057,23315,Zettai Zetsumei Dangerous Jiisan Special-ban,"Comedy, Kids",Special,1,6.80,57
10058,31698,Zhan Long Si Qu,"Cars, Kids",TV,64,4.80,67
10059,33339,Zhongguo Jingqi Xiansheng,"Comedy, Supernatural, Thriller",ONA,63,6.96,386
10060,11093,Ziggy: Soreyuke! R&R Band,"Adventure, Music, Mystery",Movie,1,6.45,123
10061,31427,Zinba,"Action, Adventure, Comedy, Demons, Magic, Supe...",TV,52,7.17,172
10062,32733,ZIP! x Peeping Life TV: Cool Japan Saizensen,"Comedy, Slice of Life",ONA,5,5.38,60
10063,19717,Zoku Naniwa Yuukyouden,"Action, Comedy",OVA,1,5.10,78
10064,12759,Zoku Zoku Mura no Obaketachi,Fantasy,OVA,12,6.33,76
10065,32557,Zombie Clay Animation: I'm Stuck!!,"Comedy, Horror",ONA,4,4.33,72
10066,30089,Zombie Clay Animation: Life of the Dead,"Comedy, Horror",OVA,4,4.95,125
10067,30090,Zombie Ehon,Comedy,ONA,1,3.54,86
10068,13167,Zoobles!,Kids,TV,26,5.57,109
10069,11097,Zou no Inai Doubutsuen,Drama,Movie,1,6.07,85
10070,11095,Zouressha ga Yatte Kita,Adventure,Movie,1,6.06,78
10071,7808,Zukkoke Knight: Don De La Mancha,"Adventure, Comedy, Historical, Romance",TV,23,6.47,172
10072,28543,Zukkoke Sannin-gumi no Hi Asobi Boushi Daisakusen,"Drama, Kids",OVA,1,5.83,50
10073,18967,Zukkoke Sannin-gumi: Zukkoke Jikuu Bouken,"Comedy, Historical, Sci-Fi",OVA,1,6.13,76
10074,13455,Zumomo to Nupepe,Comedy,TV,32,7.00,120

In [16]:
grouped = df.groupby('type')
type(grouped)

pandas.core.groupby.DataFrameGroupBy

In [17]:
grouped.mean().round(1)

         anime_id  episodes  rating  members
type
Movie     14322.5       1.1     6.3  10654.0
Music     22495.1       1.1     5.6   1273.0
ONA       22738.0       6.8     5.6   4401.8
OVA       12207.7       2.5     6.5   6849.5
Special   16802.3       2.5     6.5   7424.6
TV        10929.6      37.5     6.9  41832.3

In [18]:
grouped.describe().round(1).head(16)

        anime_id                                                               \
           count     mean      std    min      25%      50%      75%      max
type
Movie     2220.0  14322.5  10925.7    5.0   4396.8  10677.5  24071.5  34201.0
Music      485.0  22495.1  10175.0  731.0  12101.0  24903.0  31925.0  34412.0
ONA        591.0  22738.0  10346.0  574.0  13467.0  25241.0  32287.5  34514.0
OVA       1932.0  12207.7  10718.7   44.0   2297.2   8965.5  22459.5  34349.0
Special   1517.0  16802.3  10838.8  191.0   6877.0  15815.0  27821.0  34519.0
TV        3330.0  10929.6  10645.4    1.0   2112.2   6511.5  18938.5  34503.0

        episodes        ...   members             rating                      \
           count  mean  ...       75%        max   count mean  std  min  25%
type                    ...
Movie     2220.0   1.1  ...    4239.0   466254.0  2220.0  6.3  1.2  2.5  5.4
Music      485.0   1.1  ...     797.0    71136.0   485.0  5.6  1.0  3.3  5.0
ONA        591.0   6.8  ...    1890.5   144898.0   591.0  5.6  1.1  2.7  4.9
OVA       1932.0   2.5  ...    5706.0   305165.0  1932.0  6.5  0.9  2.0  5.9
Special   1517.0   2.5  ...    6978.0   160423.0  1517.0  6.5  0.9  1.7  6.1
TV        3330.0  37.5  ...   41568.2  1013917.0  3330.0  6.9  0.8  3.0  6.5


         50%  75%   max
type
Movie    6.5  7.3  10.0
Music    5.6  6.2   8.4
ONA      5.7  6.4   8.3
OVA      6.5  7.1   9.2
Special  6.6  7.1   8.7
TV       7.0  7.5   9.3

[6 rows x 32 columns]

In [19]:
df.groupby(['type', 'episodes']).mean().round(1).head(20)

                anime_id  rating  members
type  episodes
Movie 1          14320.0     6.3  10588.6
      2          13802.0     6.9   6638.9
      3          11339.3     6.7  53598.1
      4          15723.5     7.3   3566.5
      5          12558.3     6.1   3641.0
      6           8433.5     6.0    178.5
      7          13602.5     6.9  11989.5
      9           8928.0     6.2    267.0
      10         31020.0     6.9     57.0
      12         20908.0     5.4    790.7
      14         13817.0     6.0    137.0
      100        29924.0     7.0     56.0
Music 1          22576.2     5.6   1200.0
      2          28390.8     6.0    404.8
      4           1998.0     6.7   6650.0
      5          14359.0     6.2   1582.0
      7           8348.0     7.1  13361.0
      8           4705.0     7.3  22213.0
      14          5016.0     6.7   2240.0
      24         32633.0     7.6    560.0

In [20]:
df.pivot_table(index='type', aggfunc=np.mean) # メソッドによる平均値

             anime_id   episodes       members    rating
type
Movie    14322.477928   1.100901  10654.022072  6.328599
Music    22495.111340   1.125773   1273.028866  5.583918
ONA      22738.000000   6.778342   4401.822335  5.629628
OVA      12207.692547   2.549689   6849.526398  6.475217
Special  16802.341463   2.495715   7424.628873  6.525577
TV       10929.554655  37.456156  41832.314414  6.928961

In [21]:
df.pivot_table(index=['type', 'episodes'], aggfunc=np.mean) #複数列の平均値

                    anime_id        members    rating
type  episodes
Movie 1         14320.010507   10588.556418  6.325464
      2         13802.000000    6638.875000  6.930000
      3         11339.285714   53598.142857  6.661429
      4         15723.500000    3566.500000  7.260000
      5         12558.333333    3641.000000  6.063333
      6          8433.500000     178.500000  5.980000
      7         13602.500000   11989.500000  6.940000
      9          8928.000000     267.000000  6.220000
      10        31020.000000      57.000000  6.860000
      12        20908.000000     790.666667  5.450000
      14        13817.000000     137.000000  6.000000
      100       29924.000000      56.000000  7.000000
Music 1         22576.194093    1199.976793  5.562089
      2         28390.800000     404.800000  6.020000
      4          1998.000000    6650.000000  6.740000
      5         14359.000000    1582.000000  6.190000
      7          8348.000000   13361.000000  7.090000
      8          4705.000000   22213.000000  7.270000
      14         5016.000000    2240.000000  6.740000
      24        32633.000000     560.000000  7.640000
ONA   1         23349.758007    1861.380783  5.320925
      2         22729.257143     863.685714  5.115143
      3         25820.379310    3876.724138  5.714828
      4         21650.931034    7187.655172  5.676897
      5         20013.217391    5855.739130  5.636957
      6         18373.962963   10364.962963  5.960741
      7         15560.615385    5263.923077  5.338462
      8         22464.071429    1116.714286  5.497857
      9         21263.250000    7259.000000  5.972500
      10        20428.111111    7128.333333  6.126667
...                      ...            ...       ...
TV    243        2222.000000    5330.000000  7.280000
      260       17280.000000      89.000000  6.730000
      263       17601.000000      95.000000  6.840000
      276         527.000000  229157.000000  7.430000
      283       20077.000000      75.000000  6.750000
      291         813.000000  375662.000000  8.320000
      296        2721.500000   15076.500000  7.040000
      300        3683.000000     240.000000  6.550000
      305        8127.000000     562.500000  6.460000
      312       14212.000000     150.500000  6.395000
      330        3006.000000    1524.000000  7.390000
      331        6509.000000    1083.000000  6.630000
      358         516.000000   31632.000000  7.930000
      365       14566.000000     841.500000  6.195000
      366         269.000000  624055.000000  7.950000
      373        3545.000000    4734.000000  7.820000
      475       31517.000000     146.000000  5.500000
      510        7981.000000     161.000000  6.540000
      526       11595.000000     447.000000  6.340000
      694        4936.000000    2116.000000  6.920000
      726        9768.000000     237.000000  6.250000
      773       20117.000000     110.000000  5.630000
      1006      10241.000000     153.000000  5.920000
      1274      22221.000000     112.000000  6.800000
      1306      32448.000000      59.000000  6.430000
      1428       8213.000000     194.000000  6.050000
      1471       6277.000000     406.000000  6.480000
      1565      23349.000000     116.000000  5.560000
      1787       2471.000000   14233.000000  7.760000
      1818      12393.000000     160.000000  6.180000

[291 rows x 3 columns]

In [22]:
# genre列のカンマ区切りのデーターを分割
genres = df['genre'].map(lambda x: x.split(','))
#numpy.arrayにして2次元から1次元のデータに変換
ser = pd.Series(np.hstack(genres.values))

#ユニークにする
unique_genres = ser.str.strip().unique()
unique_genres.sort()
unique_genres

array(['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons',
       'Drama', 'Fantasy', 'Game', 'Harem', 'Historical', 'Horror',
       'Josei', 'Kids', 'Magic', 'Martial Arts', 'Mecha', 'Military',
       'Music', 'Mystery', 'Parody', 'Police', 'Psychological', 'Romance',
       'Samurai', 'School', 'Sci-Fi', 'Seinen', 'Shoujo', 'Shoujo Ai',
       'Shounen', 'Shounen Ai', 'Slice of Life', 'Space', 'Sports',
       'Super Power', 'Supernatural', 'Thriller', 'Vampire'], dtype=object)

In [25]:
#指定したジャンル名をDataFrameから抽出
def fileter_df_by_genre(df, genre):
    genre_df = df.loc[df['genre'].map(lambda x: genre in x)].copy()
    genre_df['genre'] = genre
    return genre_df

#上記の関数を全てのジャンルに対して実行
genre_df_list = [fileter_df_by_genre(df, genre) for genre in unique_genres]
# 上記dataを結合
df2 = pd.concat(genre_df_list)
# name列でソート
df2.sort_values('name', inplace=True)

#メンバ数が多いジャンルトップ10
top10 = df2.groupby('genre')['members'].sum().sort_values(
    ascending=False).index[:10]
# top10からデータを抽出
df2 = df2[df2['genre'].isin(top10)]

In [26]:
df2.loc[df2['name'] == 'Kimi no Na wa.']

   anime_id            name         genre   type  episodes  rating  members
0     32281  Kimi no Na wa.  Supernatural  Movie         1    9.37   200630
0     32281  Kimi no Na wa.         Drama  Movie         1    9.37   200630
0     32281  Kimi no Na wa.       Romance  Movie         1    9.37   200630
0     32281  Kimi no Na wa.        School  Movie         1    9.37   200630

In [27]:
df2.pivot_table(index='genre', columns='type',
               values=['members'], aggfunc=np.sum).head()

              members
type            Movie     Music        ONA        OVA    Special          TV
genre
Action     10224960.0   77054.0   524907.0  5793680.0  3412689.0  63364032.0
Adventure   9485223.0   42829.0    70431.0  2373765.0  2052024.0  27529975.0
Comedy      7293127.0   20860.0  1477266.0  5614758.0  6659293.0  65420862.0
Drama       9034099.0  100734.0   188427.0  3043374.0  1915578.0  41011557.0
Fantasy     8019406.0   43962.0   188937.0  2754224.0  2504131.0  34932563.0